.cabeca .cabecadiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 50px;

}
.itens {
    display: flex;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}

/*parte mobile*/

@media(max-width: 768px){
    .itens {
        flex-direction: column;
    }

    .cabeca{

    }

    .cabecadiv {
        margin-left: 10px;
        flex-direction: column;
    }


    .cabeca .cabecadiv {
        display: flex;
        align-items: center;
        justify-content: space-between;

    }
    .itens {
        display: flex;
    }

    footer {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}