.cabeca .cabecadiv {
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.itens {
    display: flex;
}

footer {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    padding-top: 50px;

    
}
.rodape-titulo {
    margin-right: 150px;
}